n8n-workflows/AUCTION_ORCHESTRATION.json
{
  "name": "Auction Orchestration System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auction-create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-auction-create",
      "name": "Webhook - Auction Create",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auctions (stock_number, starting_price, current_price, min_increment, currency, ends_at, seller_telegram_id, status, diamond_data) VALUES ('{{ $json.stockNumber }}', {{ $json.startingPrice }}, {{ $json.startingPrice }}, {{ $json.minIncrement }}, '{{ $json.currency }}', NOW() + INTERVAL '{{ $json.durationMinutes }} minutes', {{ $json.sellerTelegramId }}, 'active', '{{ $json.diamondData }}') RETURNING *"
      },
      "id": "supabase-insert-auction",
      "name": "Supabase - Insert Auction",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auction_diamonds (auction_id, stock_number, shape, weight, color, clarity, cut, picture, certificate_url, price_per_carat) VALUES ('{{ $json.id }}', '{{ $json.stock_number }}', '{{ $('Webhook - Auction Create').item.json.diamondData.shape }}', {{ $('Webhook - Auction Create').item.json.diamondData.weight }}, '{{ $('Webhook - Auction Create').item.json.diamondData.color }}', '{{ $('Webhook - Auction Create').item.json.diamondData.clarity }}', '{{ $('Webhook - Auction Create').item.json.diamondData.cut }}', '{{ $('Webhook - Auction Create').item.json.diamondData.picture }}', '{{ $('Webhook - Auction Create').item.json.diamondData.certificateUrl }}', {{ $('Webhook - Auction Create').item.json.diamondData.pricePerCarat }})"
      },
      "id": "supabase-insert-diamond-snapshot",
      "name": "Supabase - Insert Diamond Snapshot",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "auctionId",
              "value": "={{ $json.id }}"
            },
            {
              "name": "stockNumber",
              "value": "={{ $json.stock_number }}"
            },
            {
              "name": "currentPrice",
              "value": "={{ $json.current_price }}"
            },
            {
              "name": "minIncrement",
              "value": "={{ $json.min_increment }}"
            },
            {
              "name": "endsAt",
              "value": "={{ $json.ends_at }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-auction-vars",
      "name": "Set Auction Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "groupChatIds",
        "options": {}
      },
      "id": "split-groups",
      "name": "Split Into Groups",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendPhoto",
        "chatId": "={{ $json.groupChatIds }}",
        "binaryData": false,
        "photo": "={{ $('Webhook - Auction Create').item.json.diamondData.picture }}",
        "additionalFields": {
          "caption": "🔥 NEW AUCTION LIVE!\n\n💎 {{ $('Set Auction Variables').item.json.stockNumber }}\n{{ $('Webhook - Auction Create').item.json.diamondData.weight }}ct {{ $('Webhook - Auction Create').item.json.diamondData.shape }} {{ $('Webhook - Auction Create').item.json.diamondData.color }} {{ $('Webhook - Auction Create').item.json.diamondData.clarity }}\n\n💰 Current Bid: ${{ $('Set Auction Variables').item.json.currentPrice }}\n📈 Min Increment: ${{ $('Set Auction Variables').item.json.minIncrement }}\n⏰ Ends: {{ $('Set Auction Variables').item.json.endsAt }}\n\n🔴 LIVE BIDDING",
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "💎 Bid ${{ Number($('Set Auction Variables').item.json.currentPrice) + Number($('Set Auction Variables').item.json.minIncrement) }}",
                  "web_app": {
                    "url": "https://mazalbot.app/auctions/{{ $('Set Auction Variables').item.json.auctionId }}?action=bid"
                  }
                }
              ],
              [
                {
                  "text": "👁️ View Details",
                  "web_app": {
                    "url": "https://mazalbot.app/auctions/{{ $('Set Auction Variables').item.json.auctionId }}"
                  }
                }
              ]
            ]
          }
        }
      },
      "id": "telegram-send-photo",
      "name": "Telegram - Send Auction to Group",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 300],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE auctions SET message_ids = message_ids || '[{\"chat_id\": {{ $json.result.chat.id }}, \"message_id\": {{ $json.result.message_id }}}]'::jsonb WHERE id = '{{ $('Set Auction Variables').item.json.auctionId }}'"
      },
      "id": "supabase-store-message-ids",
      "name": "Supabase - Store Message IDs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"auctionId\": $('Set Auction Variables').item.json.auctionId, \"messagesSent\": $runIndex } }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auction-bid",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-bid",
      "name": "Webhook - Bid Processor",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM auctions WHERE id = '{{ $json.auctionId }}' AND status = 'active' AND ends_at > NOW()"
      },
      "id": "supabase-get-auction",
      "name": "Supabase - Get Auction",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "={{ $json.current_price + $json.min_increment }}",
            "operation": "smallerEqual",
            "rightValue": "={{ $('Webhook - Bid Processor').item.json.bidAmount }}"
          }
        }
      },
      "id": "if-valid-bid",
      "name": "IF - Valid Bid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE auctions SET current_price = {{ $('Webhook - Bid Processor').item.json.bidAmount }}, bid_count = bid_count + 1, updated_at = NOW() WHERE id = '{{ $('Webhook - Bid Processor').item.json.auctionId }}' RETURNING *"
      },
      "id": "supabase-update-price",
      "name": "Supabase - Update Price",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 520]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auction_bids (auction_id, bidder_telegram_id, bidder_name, bid_amount) VALUES ('{{ $('Webhook - Bid Processor').item.json.auctionId }}', {{ $('Webhook - Bid Processor').item.json.bidderTelegramId }}, '{{ $('Webhook - Bid Processor').item.json.bidderName }}', {{ $('Webhook - Bid Processor').item.json.bidAmount }})"
      },
      "id": "supabase-insert-bid",
      "name": "Supabase - Insert Bid",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 520]
    },
    {
      "parameters": {
        "fieldToSplitOut": "message_ids",
        "options": {}
      },
      "id": "split-message-ids",
      "name": "Split Message IDs",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1340, 520]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "editMessageReplyMarkup",
        "chatId": "={{ $json.chat_id }}",
        "messageId": "={{ $json.message_id }}",
        "replyMarkup": {
          "inline_keyboard": [
            [
              {
                "text": "💎 Bid ${{ Number($('Supabase - Update Price').item.json.current_price) + Number($('Supabase - Update Price').item.json.min_increment) }}",
                "web_app": {
                  "url": "https://mazalbot.app/auctions/{{ $('Webhook - Bid Processor').item.json.auctionId }}?action=bid"
                }
              }
            ],
            [
              {
                "text": "👁️ View Details",
                "web_app": {
                  "url": "https://mazalbot.app/auctions/{{ $('Webhook - Bid Processor').item.json.auctionId }}"
                }
              }
            ]
          ]
        }
      },
      "id": "telegram-update-buttons",
      "name": "Telegram - Update Buttons",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 520]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "editMessageCaption",
        "chatId": "={{ $('Split Message IDs').item.json.chat_id }}",
        "messageId": "={{ $('Split Message IDs').item.json.message_id }}",
        "caption": "🔥 AUCTION LIVE!\n\n💎 {{ $('Supabase - Update Price').item.json.stock_number }}\n\n💰 Current Bid: ${{ $('Supabase - Update Price').item.json.current_price }}\n📈 Next Bid: ${{ Number($('Supabase - Update Price').item.json.current_price) + Number($('Supabase - Update Price').item.json.min_increment) }}\n🔥 Bids: {{ $('Supabase - Update Price').item.json.bid_count }}\n⏰ Ends: {{ $('Supabase - Update Price').item.json.ends_at }}\n\n🔴 LIVE BIDDING"
      },
      "id": "telegram-update-caption",
      "name": "Telegram - Update Caption",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1780, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"newPrice\": $('Supabase - Update Price').item.json.current_price, \"messagesUpdated\": $runIndex } }}"
      },
      "id": "respond-bid-success",
      "name": "Respond Bid Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Invalid bid amount\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-bid-error",
      "name": "Respond Bid Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 680]
    }
  ],
  "connections": {
    "Webhook - Auction Create": {
      "main": [[{ "node": "Supabase - Insert Auction", "type": "main", "index": 0 }]]
    },
    "Supabase - Insert Auction": {
      "main": [[{ "node": "Supabase - Insert Diamond Snapshot", "type": "main", "index": 0 }]]
    },
    "Supabase - Insert Diamond Snapshot": {
      "main": [[{ "node": "Set Auction Variables", "type": "main", "index": 0 }]]
    },
    "Set Auction Variables": {
      "main": [[{ "node": "Split Into Groups", "type": "main", "index": 0 }]]
    },
    "Split Into Groups": {
      "main": [[{ "node": "Telegram - Send Auction to Group", "type": "main", "index": 0 }]]
    },
    "Telegram - Send Auction to Group": {
      "main": [[{ "node": "Supabase - Store Message IDs", "type": "main", "index": 0 }]]
    },
    "Supabase - Store Message IDs": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    },
    "Webhook - Bid Processor": {
      "main": [[{ "node": "Supabase - Get Auction", "type": "main", "index": 0 }]]
    },
    "Supabase - Get Auction": {
      "main": [[{ "node": "IF - Valid Bid", "type": "main", "index": 0 }]]
    },
    "IF - Valid Bid": {
      "main": [
        [{ "node": "Supabase - Update Price", "type": "main", "index": 0 }],
        [{ "node": "Respond Bid Error", "type": "main", "index": 0 }]
      ]
    },
    "Supabase - Update Price": {
      "main": [[{ "node": "Supabase - Insert Bid", "type": "main", "index": 0 }]]
    },
    "Supabase - Insert Bid": {
      "main": [[{ "node": "Split Message IDs", "type": "main", "index": 0 }]]
    },
    "Split Message IDs": {
      "main": [[{ "node": "Telegram - Update Buttons", "type": "main", "index": 0 }]]
    },
    "Telegram - Update Buttons": {
      "main": [[{ "node": "Telegram - Update Caption", "type": "main", "index": 0 }]]
    },
    "Telegram - Update Caption": {
      "main": [[{ "node": "Respond Bid Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
